*
{
    margin: 0;
    padding: 0;
    /* font-family: 'Courier New', Courier, monospace; */
    /* background: #fff; */
}

/* navigation bar */
nav
{
    height: 50px;
    /* background-color: rgba(12, 12, 12, 0.549); */
    background-color: rgba(3, 3, 58, 0.824);
}
.navbar-brand
{
    margin-right: 15%;
    margin-left: 5%;
    
}
.navbar-brand h5{
    font-weight: 900px;
    color: rgb(255, 255, 255);
}

.navbar-nav .nav-item .nav-link
{
    margin-right: 20px;
    color: #fff;
    font-size: 13px;
    font-weight: 800px;
}
.navbar-nav .active a{
    color: #fff;
}

.navbar-nav .nav-item .nav-link:hover
{
    color: #00f;
}
.socials
{
    color: #00f;
    margin-right: 50px;
    font-size: 50px;
}

.socials:hover
{
    color: #00f;
}
/* footer */
footer .links
{
    background-color: rgb(10, 10, 22);
    padding-top: 50px;
    padding-bottom: 30px;
    color: #fff;
}

footer .copyright
{
    padding: 10px;
    background-color: rgb(4, 4, 58);
}

/* landing */
#overlay
{
    padding-top: 170px;
    background-color: rgba(3, 3, 58, 0.824);
    width: 100%;
    height: 90vh;   
    /* margin-top: -23%; */
}
.landing
{
    
    width: 100%;
    height: 90vh;
    background-image: url('http://localhost/myportfolio/assets/images/bg.jpg');
    /* background-color: #00f; */
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    /* background-position: center; */
}

.landing .header{
    /* margin-top: -80px; */
}

.landing .header h2
{
    font-weight: 700px;
    font-size: 3rem;
    color: #fff;
    /* font-family: cursive; */
}
.landing .header p
{
    font-size: 1rem;
    color: rgb(245, 245, 249);
    font-weight: 700;
    /* text-shadow: 2px 2px #fff; */
    
}

.landing .links .btn1
{
    box-shadow: 2px 2px #000;
    background-color: #00f;
    border-radius: 25px;
    padding: 5px 20px;
    font-size: 13px;
    font-weight: 600;
}

.landing .links .btn1:hover
{
    background-color: rgba(0, 0, 0, 0);
    /* color: #000; */
    border: 2px solid #fff;
}

.landing .links .btn2:hover
{
    background-color: #00f;
    /* color: #000; */
    border: none;
}


.landing .links .btn2
{
    box-shadow: 2px 2px #000;
    /* background-color: #00f; */
    border: 2px solid #fff;
    border-radius: 25px;
    padding: 5px 20px;
    font-size: 13px;
    font-weight: 600;
}


/* servives */
.services
{
    background: #b8b4b4;
}

.services .card .card-title h4
{
    color: rgb(29, 29, 74);
    font-size: 25px;
    font-weight: 700px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

/* skills */
.skills
{
    height: 60vh;
    background-image: url('http://localhost/myportfolio/assets/images/img7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
#overlay1
{
    padding-top: 150px;
    background-color: rgba(3, 3, 58, 0.524);
    width: 100%;
    height: 50vh;
}
/* about  */
.abouts
{
    height: 50vh;
    width: 100%;
    background-image: url('http://localhost/myportfolio/assets/images/img7.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    /* background-attachment: fixed; */
    
}


.about .header h3
{
    color: #fff;
    font-size: 30px;
}

@media only screen and (max-width: 600px) 
{
    .nav span
    {
        color: #000;
    }
    .landing .header
    {
        padding: 20px;
    }
    .landing .header h2
{
    font-weight: 700px;
    font-size:37px;
    margin-bottom: 15px;
    /* text-shadow: 1px 2px #fff; */
    color: #fff;
    /* box-shadow: 2px 5px #000; */
}
.landing .header p
{
    font-size: 1.5rem;
    /* text-shadow: 2px 3px #fff; */
    font-size: 1.5rem;
    color: #fff;
    /* box-shadow: 2px 5px #000; */
    margin-bottom: 25px;
    
}
.landing .links button
{
    box-shadow:none;
}

.skills{
    height: 100vh;
}
}
